<table
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  style="max-width: 100%"
>
  <tr>
    <td align="center" valign="top">
      <table
        bgcolor="#FFFFFF"
        border="0"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        style="max-width: 600px"
      >
        <tr>
          <td align="center" style="padding-left: 20px; padding-right: 20px">
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              width="100%"
              style="width: 100%"
            >
              <tr>
                <td height="30" width="100%" style="max-width: 100%; padding-left: 20px; padding-right: 20px"></td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 1.5;
                    text-align: center;
                    color: #000000;
                  "
                >
                  <span
                    style="
                      font-family: 'Roboto', Arial, Helvetica, sans-serif;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: bold;
                      line-height: 1.5;
                      text-align: center;
                      color: #000000;
                    "
                  >
                    5 Tiny Stocks Pose to Skyrocket Because of Elon Musk
                    <br /><br />
                    Musk’s New Project Depends on These 5 Small Companies and
                    You Know What That Means...
                  </span>
                </td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="padding-top: 20px; padding-bottom: 20px"
                >
                  <a href="urlhere" target="_blank">
                    <img
                      alt="Elon Musk"
                      height="auto"
                      src="https://copies-images.s3.amazonaws.com/mppx/lift-210/elon-musk.jpg"
                      style="
                        border: 0;
                        display: block;
                        outline: none;
                        text-decoration: none;
                        height: auto;
                        width: 100%;
                        max-width: 560px;
                        font-size: 13px;
                      "
                      width="560"
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="padding-top: 20px; padding-bottom: 20px"
                >
                  <a href="urlhere" target="_blank">
                    <img
                      alt="Elon Musk"
                      height="auto"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ6ZNXTnRlctLTRuHsw3VvamKAU5YwUUvIi2M7-tgN0dh8jr3VhaID&usqp=CAE&s"
                      style="
                        border: 0;
                        display: block;
                        outline: none;
                        text-decoration: none;
                        height: auto;
                        width: 100%;
                        max-width: 560px;
                        font-size: 13px;
                      "
                      width="560"
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td
                  align="center"
                  style="
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 1.5;
                    text-align: center;
                    color: #000000;
                  "
                >
                  <span
                    style="
                      font-family: 'Roboto', Arial, Helvetica, sans-serif;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: bold;
                      line-height: 1.5;
                      text-align: center;
                      color: #000000;
                    "
                  >
                    For those who missed out on Tesla stock or mistimed their
                    investment, this could be the big redeemer.
                    <br /><br />
                    Watch the info and get the key details on this possible
                    incredible opportunity to get in on these 5 small companies.
                    <br /><br />
                    Once the word gets out it will be too late. Beat the crowd.
                    <br /><br />
                    <a
                      href="urlhere"
                      style="
                        font-family: 'Roboto', Arial, Helvetica, sans-serif;
                        text-decoration: underline;
                        font-size: 18px;
                        font-weight: 700;
                      "
                    >
                      Here’s Are the Key Details You’ll Want to Know</a
                    >
                  </span>
                </td>
              </tr>
              <tr>
                <td height="30" width="100%" style="max-width: 100%; padding-left: 20px; padding-right: 20px"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

